html{
    margin: 0;
    padding: 0;
}

body{
    display: block;
    width: 100%;
    margin: 0 auto !important;
    background-color: #eee !important;
    max-width: 1106px;
    text-align: center;
}

div.searched{
    border-radius: 5px;
    border: 3px solid #e27dff; 
    display: inline-block;
    padding: 10px;
    margin: 10px;
    width: 530px;
    height: 412px;
    text-align: center;
    vertical-align: center;
}

div.imgBox{
    width: 190px;
    height:280px;
    text-align: center;
    display: inline-block;
}

img.cover{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div.title{
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.author{
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.category{
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

div.publisher{
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

footer.advSearch{
    margin: 10px;
    vertical-align: middle;
}

label.advSearch{
    font-size: 20px;
}

input[name="aladin-search"]{
    width: 360px;
    height: 52px;
    font-size: 20px;
}

button.advSearch{
    height: 52px;
}